<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            
            {{#link-to-animated "index" animations="main:fade" classNames="navbar-brand" }}Remember me!{{/link-to-animated}}
            {{#link-to-animated "selectMain" animations="main:fade" classNames="navbar-brand" }}Select Main{{/link-to-animated}}
            {{#link-to-animated "uploadFile" animations="main:fade" classNames="navbar-brand" }}Upload file{{/link-to-animated}}
            {{#link-to-animated "sayCheese" animations="main:fade" classNames="navbar-brand" }}Say cheese{{/link-to-animated}}
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>{{#link-to "signin"}}Sign in{{/link-to}}</li>
            <li>{{#link-to "registration"}}Register me{{/link-to}}</li>
        </ul>

    </nav>
    <div class="container" id="main" style="height: 500px">
        {{animated-outlet name="main"}}
    </div>

    <div id="sign-in-modal" class="reveal-modal">
        <h1>Modal Title</h1>
        <p>Any content could go in here.</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
