<div class="row">

    <h1 class="padding-top">Welcome to Remember Me Applciaiton! We will help you not to forget your friends!!</h1>

    <hr class="restrict">

    <h4 class="restrict">Just remember how many times you were just see some people and can not remembr this person.</br>
    We are here to solve this problem. <em>Free and easy to use!</em></h4>

    <figure class="rotate-right">
        <img src="images/front-smile8.jpg" >
        <figcaption>
            <h3>Am I know this guys?</h3>
        </figcaption>
    </figure>
    <figure class="rotate-left">
        <img src="images/front-smile9.jpg" >
        <figcaption>
            <h3>Well.. I am and..?</h3>
        </figcaption>
    </figure>
    <figure>
        <img src="images/front-smile10.jpg" >
        <figcaption>
            <h3>Ma?</h3>
        </figcaption>
    </figure>
    <figure class="rotate-left">
        <img src="images/front-smile11.jpg" >
        <figcaption>
            <h3>Am i know them?</h3>
        </figcaption>
    </figure>
    <figure class="rotate-right">
        <img src="images/front-smile12.jpg" >
        <figcaption>
            <h3>Who are those guys??</h3>
        </figcaption>
    </figure>
</div>