<h1 class="padding-top">Let's make a new photo!</h1>

<hr class="restrict">

<div class="row">
  <h4>Just click snapshot when you are ready! or not.. =)</h4>
</div>

<div class="row">
  
  <button id="snap">Snap</button>
  <div id="webcam-container" class="col-md-8">
  </div>
  

  <div class="col-md-4">
    <div id="result" class="saycheese-previews"></div>
  </div>
</div>

<div class="row">

</div>