<div class="row">

    <h1 class="padding-top">Hello! It's a pleasure for us to remember your friends for you!</h1>

    <hr class="restrict">

    <h4 class="restrict">Please choose what do you want to do:</h4>

    <div class="row">
        <figure class="select-images col-md-offset-4">
            <a href="#"> <img class="grayscale" src="images/my-friends.png" width="400px" height="200px"> </a>
        </figure>
    </div>

    <div class="row small-margin-top">
        <figure class="select-images col-md-offset-2">
            {{#link-to-animated "uploadFile" animations="main:fade"  }}<img class="grayscale" src="images/from-pc.png" width="400px" height="200px">{{/link-to-animated}}
        </figure>

        <figure class="select-images">
            {{#link-to-animated "sayCheese" animations="main:fade"  }}<img class="grayscale" src="images/say-cheese.png" width="400px" height="200px">{{/link-to-animated}}
        </figure>
    </div>

</div>