<h1 class="padding-top">Upload new files!</h1>

<hr class="restrict">

<div class="row">
  <h4>Cick or drop files here:</h4>
</div>

<div class="row">
  <form action="/upload" class="dropzone col-md-4" id="filedropzone" >
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>

  <div class="col-md-4">
    <div id="previews" class="dropzone-previews"></div>
  </div>
</div>

<div class="row">

</div>